<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha- AI</title>
    <link rel="stylesheet" href="../static/css/desktop2.css" >

</head>
<body>
    <div class="v15_145 v15_83">
        
        <div class="v15_149">User Emotion Graph</div>


        <div class="v15_146">
            <div class="v15_147">
                <img id="picture" src="data:image/png;base64,{{ graph }}">
            </div>
        </div>

        <div class="v15_148"> {{ user_sentiment }} </div>


    </div>
    
</body>
</html>