<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha- AI</title>
    <link rel="stylesheet" href="../static/css/ishasecpagefinal.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form action='/chat' , name="chatdata" class="v15_131 " method="post">
        <!--bot-->

        <div class=" v15_144 "></div>


        <!--box1-->
        <div class="v15_138 v15_133">
            
            <div class="v15_140">
                 {{ reply_bot }} 
            </div>

        </div>



            <!--box2-->
            <div class="v15_132">
                <input required type="text" name="chat" placeholder={{ user_chat }} class="v15_139">
                <!--send button-->
                <!--<div class="v15_135">
                <div class="v15_136">
                    <div class="v15_137"></div>
                </div>
            </div>-->

                <button name="message" value="1" type="submit">
                    <i class="fa fa-arrow-right"
                       style="position: absolute;
                top: 30px;
                left: 620px;
                font-size: 40px;
                color: rgba(21,185,77, 0.8);"></i>
                </button>


            </div>


            <!--button-->

    </form>
        <form action="/result " method="post" >
           
            <button class="v15_143" id="endchat" name="endchat" type="submit" value="Submit">
                <span style="margin-top: 20px;">End Chat</span>
            </button>
      </form>

      <script>
         var $win = $(window);
var $lay = $('#layout');
var baseSize = {
    w: 720,
    h: 500    
}

function updateScale() {

    var ww = $win.width();
    var wh = $win.height();
    var newScale = 1;

    // compare ratios
    if(ww/wh < baseSize.w/baseSize.h) { // tall ratio
        newScale = ww / baseSize.w;
    } else { // wide ratio
        newScale = wh / baseSize.h;        
    }

    $lay.css('transform', 'scale(' + newScale + ',' +  newScale + ')');

    console.log(newScale);
}

$(window).resize(updateScale);
      </script>
    

</body>
</html>
